// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  > header, > footer, nav[role=navigation] {
    display: none;
  }
  #content {
    background: #fcfcfc;
  }
}

#lnk-home {
    position: absolute;
    width: 77px;
    height: 48px;
    background: url('/images/ss-logo48.png') no-repeat;
    display: block;
    z-index: 1;
    margin: 60px 0 0 0;
    right: 76px;    
}
